_build
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/gir1.2-feedback-0.0.substvars
debian/gir1.2-feedback-0.0/
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/feedbackd/
debian/libfeedback-0.0-0.substvars
debian/libfeedback-0.0-0/
debian/libfeedback-dev.substvars
debian/libfeedback-dev/
debian/tmp/
